{% extends "base.html" %}

{% load staticfiles app %}

{% block extra_js %}
  <script src="{% static "ace/ace.js" %}"></script>
  <script>
    $('document').ready(function() {
      ace.config.set("basePath", "/static/ace")
      var editor = ace.edit("code");
      editor.setTheme("ace/theme/github");
      editor.session.setMode("{{ language.ace_code }}");
      editor.setAutoScrollEditorIntoView(true);
      editor.setOptions({
        minLines: 15,
        maxLines: 50
      });

      $(window).on("beforeunload", function() {
        if (editor.session.getLength() > 1 || editor.getValue()) {
          return "Your script has not been submitted!";
        }
      })

      $("form").submit(function() {
        $("#hiddencode").val(editor.getValue());
        editor.setValue("");
      })

      $("#language-selector").change(function() {
        var option = $(this.options[this.selectedIndex])
        editor.session.setMode(option.attr("data_ace_code"));
        $("#language-info").html(option.attr("data_language_info"));
        $("#language-info pre code").each(function(i, block) {
          hljs.highlightBlock(block);
        });
      })
    })
  </script>
{% endblock %}

{% block main %}
  <form action="{% url 'app_scripts_run' %}" method="post">
    {% csrf_token %}
    <div class="col-xs-8">
      <label for="name">Name:</label>
      <input type="text" name="name" value="{{ name }}" />
      <label for="name">Language:</label>
      <select name="language" id="language-selector">
        {% for lang in languages %}
          <option value="{{ lang.id }}" data_ace_code="{{ lang.ace_code }}" data_language_info="{{ lang.help_text_file|load_docs }}" {% if lang == language %}selected{% endif %}>{{ lang.name }}</option>
        {% endfor %}
      </select>
      <pre id="code">{{ code }}</pre><br/>
      <textarea name="code" id="hiddencode" style="display:none"></textarea>
      <input type="hidden" name="parent" value="{{ parent.id }}" />

      <input type="submit" value="Run" class="btn btn-primary pull-right" />
    </div>
    <div class="col-xs-4">
      <h3>Useful info and stuff:</h3>
      <div id="language-info">{{ language.help_text_file|load_docs|safe }}</div>
    </div>
  </form>
{% endblock %}


