{% extends "base.html" %}

{% load staticfiles app %}

{% block extra_js %}
  <script src="{% static "ace/ace.js" %}"></script>
  <script>
    $('document').ready(function() {
      ace.config.set("basePath", "/static/ace")
      var editor = ace.edit("code");
      editor.setTheme("ace/theme/github");
      editor.session.setMode("{{ language.ace_code }}");
      editor.setAutoScrollEditorIntoView(true);
      editor.setOptions({
        minLines: 25,
        maxLines: 50
      });

      $(window).on("beforeunload", function() {
        if (editor.session.getLength() > 1 || editor.getValue()) {
          return "Your script has not been submitted!";
        }
      })

      $("form").submit(function(evt) {
        var err;
        $.ajax({
          type: 'POST',
          url: "/scripts/check/",
          data: {
            name: $("form input[name='name']").val(),
            code: editor.getValue(),
            csrfmiddlewaretoken: $("form input[name='csrfmiddlewaretoken']").val(),
          },
          success: function (data) {
            err = data;
          },
          async: false
        });
        console.log(err);
        if (err) {
          evt.preventDefault();
          $("#errs").show();
          $("#errs").html("<b>Error:</b> " + err);
        }
        else {
          $("#hiddencode").val(editor.getValue());
          editor.setValue("");
        }
      })

      $("#language-selector").change(function() {
        var option = $(this.options[this.selectedIndex])
        editor.session.setMode(option.attr("data_ace_code"));
        $("#language-info").html(option.attr("data_language_info"));
        $("#language-info pre code").each(function(i, block) {
          hljs.highlightBlock(block);
        });
      })
      $("input[name='withreplay']").change(function() {
          if( $(this).is(':checked')) {
              $("select[name='replay']").show();
          } else {
              $("select[name='replay']").hide();
          }
      });
    })
  </script>
{% endblock %}

{% block main %}
  <div id="errs" class="alert alert-danger" style="display:none">
  </div>
  <form action="{% url 'app_scripts_run' %}" method="post">
    {% csrf_token %}
    <div class="col-xs-8">
      <label for="name">Name:</label>
      <input type="text" name="name" value="{{ name }}" />
      <label for="name">Language:</label>
      <select name="language" id="language-selector">
        {% for lang in languages %}
          <option value="{{ lang.id }}" data_ace_code="{{ lang.ace_code }}" data_language_info="{{ lang.help_text_file|load_docs }}" {% if lang == language %}selected{% endif %}>{{ lang.name }}</option>
        {% endfor %}
      </select>
      <pre id="code">{{ code }}</pre><br/>
      <textarea name="code" id="hiddencode" style="display:none"></textarea>
      <input type="hidden" name="parent" value="{{ parent.id }}" />
      <div class="pull-right">
        <input type="submit" value="Run" class="btn btn-primary" />
        <label for="withreplay">With replay</label>
        <input type="checkbox" name="withreplay" />
        <select name="replay" style="display:none">
          {% for script_ in scripts %}
            <option value="{{ script_.id }}"  {% if script_.id == script.parent.id %}selected{% endif %}>{{ script_.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="col-xs-4">
      <div id="language-info">{{ language.help_text_file|load_docs|safe }}</div>
    </div>
  </form>
{% endblock %}


