{% extends "base.html" %}

{% load staticfiles %}

{% block extra_js %}
    <script src="{% static "Build/UnityLoader.js" %}"></script>
    <script src="{% static "runtimes/utils.js" %}"></script>
    <script>
      var gameInstance, finished = false;

      function errored(err) {
        console.log(err);
        $(".loading-progress").hide();
        $(".game-error-text").text(err);
        $(".game-error").show();
      }

      var callbacks = {
        ready: function (data) {
          if (data.err) {
            return errored(data.err);
          }
          runtimeWorker.postMessage({type: "load", code: $("#hiddencode").val()});
        },
        loaded: function (data) {
          if (data.err) {
            return errored(data.err);
          }
          runtimeWorker.postMessage({type: "verify"});
        },
        verified: function (data) {
          if (data.err) {
            return errored(data.err);
          }
          loadUnity();
        },
        progress: function (data) {
          $(".lp-bar-inner").width(data.progress * 100 + "%");
          $(".lp-text").text(data.text);
        }
      };

      function unityProgress(gameInstance, progress) {
        if (progress == 1) {
          $(".loading-progress").hide();
        }
        else {
          $(".lp-bar-inner").width(progress * 100 + "%");
        }
      }

      function loadUnity() {
        $(".lp-text").text("Loading Unity...");
        unityProgress(0);
        gameInstance = UnityLoader.instantiate("gameContainer",
                                               "{% static "Build/nodev.json" %}",
                                               {onProgress: unityProgress});
      }

      window.unityBridge = {
        query_env: function (data) {
          var dataobj = JSON.parse(data);
          return JSON.stringify({
            script_name: script_name,
            history: (replay_scores[dataobj.track] || {}).history || [],
            historyFramerate: (replay_scores[dataobj.track] || {}).historyFramerate || 0,
          });
        },
        new_data: function (data, callback) {
          if (finished) {
            callback("{}");
            return;
          }
          callbacks.cmds = function (data) {
            if (data.err) {
              return errored(data.err);
            }
            callback(data.cmds);
          }
          runtimeWorker.postMessage({type: "new_data", data: data});
        },
        end_level: function (data) {
          finished = true;
          dataobj = JSON.parse(data);
          console.log(dataobj);
          if (script_scores[dataobj.track] !== undefined && dataobj.time > script_scores[dataobj.track].time) {
            $(".hidden-elems#nosub").show();
          }
          else {
            $("#hiddenscores").val(data);
            $(".hidden-elems#sub").show();
          }
        }
      };

      $('document').ready(function() {
        runtimeWorker.addEventListener("message", function (e) {
          callbacks[e.data.type](e.data);
        });
        runtimeWorker.postMessage({type: "begin"});
      });
    </script>
{% endblock %}

{% block extra_head %}
  <script>
    runtimeWorker = new Worker("{% static "runtimes/" %}{{ language.runtime }}");
    script_name = "{{ name }}";
    replay_scores = {
      {% for score in replay_scores %}
        ["{{ score.track.level }}"]: {{ score.scores|safe }},
      {% endfor %}
    };
    script_scores = {
      {% for score in script_scores %}
        ["{{ score.track.level }}"]: {{ score.scores|safe }},
      {% endfor %}
    };
  </script>
{% endblock %}

{% block main %}
  <div class="alert alert-info">
    <h3 style="margin-top: 0">Controls</h3>
    <ul>
      <li>
        <b>Slow motion (1/10 speed):</b> <code>T</code>
      </li>
      <li>
        <b>Pause:</b> <code>P</code>
      </li>
    </ul>
  </div>
  <form id="hiddenform" method="post">
    {% csrf_token %}
    <textarea name="scores" id="hiddenscores" style="display:none"></textarea>
    {% if script %}
      <a class="btn btn-primary" href="{% url 'app_scripts_view' script.id %}">Back to Script</a>
      <div class="hidden-elems alert alert-success" id="sub" style="display:none">
        <input type="submit" value="Submit New Score" class="btn btn-success" formaction="{% url 'app_scripts_submit_existing' script.id %}" />
      </div>
      <div class="hidden-elems alert alert-warning" id="nosub" style="display:none">
        Score is worse than the previously submitted one
      </div>
      <textarea name="code" id="hiddencode" style="display:none">{{ script.code }}</textarea>
    {% else %}
      <input type="hidden" name="name" value="{{ name }}" />
      <textarea name="code" id="hiddencode" style="display:none">{{ code }}</textarea>
      <input type="hidden" name="parent" value="{{ parent.id }}" />
      <input type="hidden" name="language" value="{{ language.id }}" />

      <input type="submit" value="Back to Editing" class="btn btn-primary" formaction="{% url 'app_scripts_new' %}" />
      <div class="hidden-elems alert alert-success" id="sub" style="display:none">
        <input type="submit" value="Submit Your Script!" class="btn btn-success" formaction="{% url 'app_scripts_submit' %}" />
      </div>
    {% endif %}
  </form>

  <div class="game-container">
    <div id="gameContainer"></div>
    <div class="loading-progress">
      <div class="lp-text">Zzzzz...</div>
      <div class="lp-bar"><div class="lp-bar-inner"></div></div>
    </div>
    <div class="game-error" style="display: none">
      <pre class="game-error-text">Unknown error has occurred</div>
    </div>
  </div>
{% endblock %}
