{% extends "base.html" %}

{% load staticfiles %}

{% block extra_js %}
    <script src="{% static "Build/UnityLoader.js" %}"></script>
    <script>
      var gameInstance;
      function unityProgress(gameInstance, progress) {
        if (progress == 1) {
          $(".loading-progress").hide();
        }
        else {
          $(".lp-bar-inner").width(progress * 100 + "%");
        }
      }

      function loadUnity() {
        $(".lp-text").text("Oh hai, i iz loading ur gamez...")
        gameInstance = UnityLoader.instantiate("gameContainer",
                                               "{% static "Build/nodev.json" %}",
                                               {onProgress: unityProgress});
      }

      $('document').ready(function() {
        loadUnity();
      });
    </script>
{% endblock %}

{% block main %}
  <h2>Using runtime {{ language.runtime }}</h2>

  <div class="game-container">
    <div id="gameContainer"></div>
    <div class="loading-progress">
      <div class="lp-text">Zzzzz...</div>
      <div class="lp-bar"><div class="lp-bar-inner"></div></div>
    </div>
  </div>

  <form method="post">
    {% csrf_token %}
    <label for="track">Track:</label>
    <input type="number" name="track" value="1" /><br />

    <label for="scores">Scores (JSON):</label>
    <textarea name="scores">{"time_taken": 1000}</textarea>

    {% if script %}
      <input type="submit" value="Submit" class="btn btn-primary pull-right" formaction="{% url 'app_scripts_submit_existing' script.id %}" />
    {% else %}
      <input type="hidden" name="name" value="{{ name }}" />
      <textarea name="code" style="display:none">{{ code }}</textarea>
      <input type="hidden" name="parent" value="{{ parent.id }}" />
      <input type="hidden" name="language" value="{{ language.id }}" />

      <input type="submit" value="Edit" class="btn btn-primary pull-right" formaction="{% url 'app_scripts_new' %}" />
      <input type="submit" value="Submit" class="btn btn-primary pull-right" formaction="{% url 'app_scripts_submit' %}" />
    {% endif %}
  </form>
{% endblock %}
