{% extends "base.html" %}

{% load staticfiles %}

{% block extra_js %}
    <script src="{% static "Build/UnityLoader.js" %}"></script>
    <script src="{% static "runtimes/utils.js" %}"></script>
    <script>
      var gameInstance;

      var callbacks = {
        ready: function (data) {
          runtimeWorker.postMessage({type: "load", code: $("#hiddencode").val()});
        },
        loaded: function (data) {
          console.log(data);
          runtimeWorker.postMessage({type: "verify"});
        },
        verified: function (data) {
          loadUnity();
        },
        progress: function (data) {
          $(".lp-bar-inner").width(data.progress * 100 + "%");
          $(".lp-text").text(data.text);
        }
      };

      function unityProgress(gameInstance, progress) {
        if (progress == 1) {
          $(".loading-progress").hide();
        }
        else {
          $(".lp-bar-inner").width(progress * 100 + "%");
        }
      }

      function loadUnity() {
        $(".lp-text").text("Loading Unity...");
        unityProgress(0);
        gameInstance = UnityLoader.instantiate("gameContainer",
                                               "{% static "Build/nodev.json" %}",
                                               {onProgress: unityProgress});
      }

      window.unityBridge = {
        query_env: function (data) {
          var dataobj = JSON.parse(data);
          console.log("QE", dataobj);
          return JSON.stringify({
            track: 1
          });
        },
        new_data: function (data, callback) {
          callbacks.cmds = function (data) {
            callback(data.cmds);
          }
          runtimeWorker.postMessage({type: "new_data", data: data});
        }
      };

      $('document').ready(function() {
        runtimeWorker.addEventListener("message", function (e) {
          callbacks[e.data.type](e.data);
        });
        runtimeWorker.postMessage({type: "begin"});
      });
    </script>
{% endblock %}

{% block extra_head %}
  <script>runtimeWorker = new Worker("{% static "runtimes/" %}{{ language.runtime }}");</script>
{% endblock %}

{% block main %}
  <h2>Using runtime {{ language.runtime }}</h2>

  <div class="game-container">
    <div id="gameContainer"></div>
    <div class="loading-progress">
      <div class="lp-text">Zzzzz...</div>
      <div class="lp-bar"><div class="lp-bar-inner"></div></div>
    </div>
  </div>

  <form method="post">
    {% csrf_token %}
    <label for="track">Track:</label>
    <input type="number" name="track" value="1" /><br />

    <label for="scores">Scores (JSON):</label>
    <textarea name="scores">{"time_taken": 1000}</textarea>

    {% if script %}
      <input type="submit" value="Submit" class="btn btn-primary pull-right" formaction="{% url 'app_scripts_submit_existing' script.id %}" />
      <textarea name="code" id="hiddencode" style="display:none">{{ script.code }}</textarea>
    {% else %}
      <input type="hidden" name="name" value="{{ name }}" />
      <textarea name="code" id="hiddencode" style="display:none">{{ code }}</textarea>
      <input type="hidden" name="parent" value="{{ parent.id }}" />
      <input type="hidden" name="language" value="{{ language.id }}" />

      <input type="submit" value="Edit" class="btn btn-primary pull-right" formaction="{% url 'app_scripts_new' %}" />
      <input type="submit" value="Submit" class="btn btn-primary pull-right" formaction="{% url 'app_scripts_submit' %}" />
    {% endif %}
  </form>
{% endblock %}
