{% extends "base.html" %}

{% block main %}
  <div>
    <h1>{{ script.name }}</h1>
    <h4>Written in {{ script.language.name }}</h4>
    <h5>Parent: {% if script.parent %}<a href="{% url 'app_scripts_view' script.parent.id %}">{{ script.parent.name }}</a>{% else %}None{% endif %}</h5>
    <h5>
      Children:
      {% for child in children %}{% if forloop.last and forloop.counter0 > 0 %} and {% elif forloop.counter0 > 0 %}, {% endif %}<a href="{% url 'app_scripts_view' child.id %}">{{ child.name }}</a>{% empty %}None{% endfor %}
    </h5>
    <a href="{% url 'app_scripts_run_existing' script.id %}" class="btn btn-primary">Run</a>
    <a href="{% url 'app_scripts_fork' script.id %}" class="btn btn-primary">Fork</a>
  </div>
  <h3>Code</h3>
  <pre><code class="{{ script.language.highlightjs_code }}">{{ script.code }}</code></pre>

  <h3>Scores</h3>
  <ul>
    {% for score in scores %}
      <li>
        {{ score.track.name }} &ndash; {{ score.scores.time }}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
