{% extends "base.html" %}

{% load getattribute app %}

{% block extra_js %}
    <script>
      $(document).ready(function() {
        $("table")
          .tablesorter({widgets: ['zebra'], sortList: [[0, 0]]});
        $("input[name='withreplay']").change(function() {
            if( $(this).is(':checked')) {
                $("select[name='replay']").show();
            } else {
                $("select[name='replay']").hide();
            }
        });
      });
    </script>
{% endblock %}

{% block main %}
  <div>
    <h1>{{ script.name }}</h1>
    {% if script.language_id %}
        <h4>Written in {{ script.language.name }}</h4>
        <h5>Parent: {% if script.parent %}<a href="{% url 'app_scripts_view' script.parent.id %}">{{ script.parent.name }}</a>{% else %}None{% endif %}</h5>
        <h5>
          Children:
          {% for child in children %}{% if forloop.last and forloop.counter0 > 0 %} and {% elif forloop.counter0 > 0 %}, {% endif %}<a href="{% url 'app_scripts_view' child.id %}">{{ child.name }}</a>{% empty %}None{% endfor %}
        </h5>
        <a href="{% url 'app_scripts_fork' script.id %}" class="btn btn-primary">Fork</a>
        <form method="get" action="{% url 'app_scripts_run_existing' script.id %}" style="display: inline-block">
            <input type="submit" value="Run" class="btn btn-primary" />
            <label for="withreplay">With replay</label>
            <input type="checkbox" name="withreplay" />
            <select name="replay" style="display:none">
              {% for script_ in scripts %}
                <option value="{{ script_.id }}"  {% if script_.id == script.parent.id %}selected{% endif %}>{{ script_.name }}</option>
              {% endfor %}
            </select>
        </form>
    {% else %}
        <h4>Not an AI</h4>
        <form method="get" action="{% url 'app_play' %}" style="display: inline-block">
            <input type="submit" value="Play" class="btn btn-primary" />
            <label for="withreplay">With replay</label>
            <input type="checkbox" name="withreplay" />
            <select name="replay" style="display:none">
              {% for script_ in scripts %}
                <option value="{{ script_.id }}"  {% if script_.id == script.parent.id %}selected{% endif %}>{{ script_.name }}</option>
              {% endfor %}
            </select>
        </form>
    {% endif %}
  </div>
  <h3>Scores</h3>
  <table class="tablesorter">
    <thead>
      <tr>
        <th>Track</th>
        {% for title in score_titles %}
          <th>{{ title }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for track, score in scores %}
        <tr>
          <td>{{ track.name }}</td>
          {% for attr in score_attrs %}
            <td>{{ score.scores|getattribute:attr|round2dp }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if script.language_id %}
    <h3>Code</h3>
    <pre><code class="{{ script.language.highlightjs_code }}">{{ script.code }}</code></pre>
  {% endif %}
{% endblock %}
