{% extends "base.html" %}

{% load staticfiles getattribute app %}

{% block extra_css %}
    <style>
      #xmode {
        overflow: hidden;
      }

      .node {
        cursor: pointer;
      }

      .node circle {
        fill: #fff;
        stroke: black;
        stroke-width: 1px;
      }

      .node .txt span {
        font: 12px sans-serif;
        border-radius: 4px;
        background: white;
        display: inline-block;
        padding: 4px;
        border: 1px solid #ccc;
      }

      .link {
        fill: none;
        stroke: #ccc;
        stroke-width: 2px;
      }

      .link.hovering {
        stroke: #000;
      }

      .arrow-head {
        fill: #ccc;
      }

      .arrow-head.hovering {
        fill: #000;
      }

      .lines line {
        stroke: lightgrey;
        stroke-opacity: 0.7;
        shape-rendering: crispEdges;
        stroke-dasharray: 5,5;
      }

      .lines path {
        stroke-width: 0;
      }

      .fake {
        display: none;
      }
    </style>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/d3.v5.js' %}"></script>
    <script>
      var margin = {top: 20, right: 70, bottom: 50, left: 80},
          width = 960 - margin.right - margin.left,
          height = 500 - margin.top - margin.bottom;

      var treemap = d3.tree()
          .size([height, width]);

      // Creates a curved (diagonal) path from parent to the child nodes
      function diagonal(s, d) {
        path = "M " + s.y + " " + s.x + "C " + (s.y + d.y) / 2 + " " + s.x + ", " + (s.y + d.y) / 2 + " " + d.x + ", " + d.y + " " + d.x;
        return path;
      }

      var svg, options, root, defs, duration = 750, selection = [];
      var xscale = d3.scaleLinear(), yscale = d3.scaleLinear();
      var xaxis, yaxis, xlabel, ylabel, ylines;
      var ymode, gmode, xmode, ytext, xtext;

      function suffix(n) {
        if (n >= 10 && n <= 20) return "th";
        if (n % 10 == 1) return "st";
        if (n % 10 == 2) return "nd";
        if (n % 10 == 3) return "rd";
        return "th";
      }

      $(document).ready(function () {
        yaxis = d3.axisLeft();
        ylines = d3.axisLeft().tickFormat("");
        xaxis = d3.axisBottom();

        svg = d3.select("#graph").append("svg")
            .call(d3.zoom()
                      .scaleExtent([0.5, 5])
                      .on("zoom", zoomed))
            .attr("width", width + margin.right + margin.left)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        svg.append("g")
            .attr("class", "y axis")
            .attr("transform", "translate(0,0)");
        svg.append("g")
            .attr("class", "y axis lines")
            .attr("transform", "translate(0,0)");

        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")");

        defs = svg.append("svg:defs");

        // text label for the x axis
        xlabel = svg.append("text")
            .attr("transform",
                  "translate(" + (width / 2) + " ," +
                                (height + 40) + ")")
            .style("text-anchor", "middle")
            .text("Generation");

        // text label for the y axis
        ylabel = svg.append("text")
            .attr("transform", "rotate(-90)")
            .attr("y", 0 - 70)
            .attr("x", 0 - (height / 2))
            .attr("dy", "1em")
            .style("text-anchor", "middle")
            .text("Value");

        root = d3.hierarchy(nodes["fake"], function(d) { return d.children; });
        root.y0 = 0;
        root.x0 = height / 2;

        $("#ymode button").on("click", function () {
          setYMode($(this).attr("value"));
          update(root);
        })

        $("#xmode button").on("click", function () {
          setXMode($(this).attr("value"));
          update(root);
        })

        $("#gmode button").on("click", function () {
          setGMode($(this).attr("value"));
          update(root);
        })

        setYMode(ymode);
        setXMode(ymode);
        setGMode("genline");
        update(root);
      })

      function setGMode(mode) {
        gmode = mode;

        $("#gmode button").each(function () {
          if ($(this).attr("value") == gmode) {
            $(this).addClass("btn-primary");
            $(this).removeClass("btn-default");
          }
          else {
            $(this).addClass("btn-default");
            $(this).removeClass("btn-primary");
          }
        })
      }

      function setXMode(mode) {
        xmode = mode;

        $("#xmode button").each(function () {
          if ($(this).attr("value") == xmode) {
            xtext = $(this).text();
            $(this).addClass("btn-primary");
            $(this).removeClass("btn-default");
          }
          else {
            $(this).addClass("btn-default");
            $(this).removeClass("btn-primary");
          }
        })
      }

      function setYMode(mode) {
        ymode = mode;

        $("#ymode button").each(function () {
          if ($(this).attr("value") == ymode) {
            ytext = $(this).text();
            $(this).addClass("btn-primary");
            $(this).removeClass("btn-default");
          }
          else {
            $(this).addClass("btn-default");
            $(this).removeClass("btn-primary");
          }
        })

        var min = Number.POSITIVE_INFINITY, max = Number.NEGATIVE_INFINITY;
        Object.keys(nodes).forEach(function (k) {
          if (k == "fake") return;
          var v = nodes[k];
          var score = v.scores[ymode];
          if (score === undefined) {
            return;
          }
          if (score > max) {
            max = score;
          }
          if (score < min) {
            min = score;
          }
        });
        var start_color = [0xe3, 0x4a, 0x33];
        var end_color = [0xff, 0xf7, 0xbc];
        Object.keys(nodes).forEach(function (k) {
          if (k == "fake") return;
          var v = nodes[k];
          var score = v.scores[ymode];
          v.value = score;
          if (score === undefined) {
            v.color = "#ccc";
            v.label = v.name;
          }
          else {
            var n = max == min ? 1 : (score - min) / (max - min);
            v.color = "rgb(" + Math.floor(start_color[0] * n + end_color[0] * (1 - n))
                      + ", " + Math.floor(start_color[1] * n + end_color[1] * (1 - n))
                      + ", " + Math.floor(start_color[2] * n + end_color[2] * (1 - n)) + ")";
            v.label = v.name + "\n" + score;
          }
        })
      }

      function update(source) {
        // Compute the new tree layout.
        var tree_data = treemap(root);
        var nodes = tree_data.descendants(),
            links = tree_data.descendants().slice(1);

        if (gmode == "scatter") {
          d3.select("#xmode").transition()
              .duration(duration)
              .style("max-height", "60px")
              .style("opacity", 1);
          var min = Number.POSITIVE_INFINITY, max = Number.NEGATIVE_INFINITY;
          nodes.forEach(function (v) {
            if (v.data.fake != "") return;
            var score = v.data.scores[xmode];
            if (score === undefined) {
              return;
            }
            if (score > max) {
              max = score;
            }
            if (score < min) {
              min = score;
            }
          });
          min = min == Number.POSITIVE_INFINITY ? 0 : min;
          max = max == Number.NEGATIVE_INFINITY ? 0 : max;
          var range = max - min;
          min -= range * 0.1;
          max += range * 0.1;
          xscale = d3.scaleLinear()
              .domain([min, max])
              .range([0, width]);
          xlabel
              .text(xtext);

          nodes.forEach(function(d) { d.y = d.data.fake == "" ? xscale(d.data.scores[xmode] || min) : 0; });
        }
        else {
          d3.select("#xmode").transition()
              .duration(duration)
              .style("max-height", "0px")
              .style("opacity", 0);
          // Normalize for fixed-depth.
          var max_depth = 0;
          nodes.forEach(function(d) { max_depth = Math.max(max_depth, d.depth); });

          xscale = d3.scaleLinear()
                .domain([1, max_depth + 0.25])
                .range([0, Math.max(width, 150 * (max_depth - 1))]);

          nodes.forEach(function(d) { d.y = xscale(d.depth); });
          xlabel
              .text("Generations");
        }
        xaxis.scale(xscale)
            .ticks(max_depth);
        svg.selectAll("g.x.axis")
            .transition()
            .duration(duration)
            .attr("opacity", 1)
            .call(xaxis);

        if (gmode == "genline" || gmode == "scatter") {
          var min = Number.POSITIVE_INFINITY, max = Number.NEGATIVE_INFINITY;
          nodes.forEach(function (v) {
            if (v.data.fake != "") return;
            var score = v.data.scores[ymode];
            if (score === undefined) {
              return;
            }
            if (score > max) {
              max = score;
            }
            if (score < min) {
              min = score;
            }
          });
          min = min == Number.POSITIVE_INFINITY ? 0 : min;
          max = max == Number.NEGATIVE_INFINITY ? 0 : max;
          var range = max - min;
          min -= range * 0.1;
          max += range * 0.1;
          yscale = d3.scaleLinear()
              .domain([min, max])
              .range([height, 0]);
          nodes.forEach(function(d) { d.x = d.data.fake == "" ? yscale(d.data.scores[ymode] || min) : 0; });
          yaxis.scale(yscale);
          ylines.scale(yscale).tickSize(-width);

          svg.selectAll("g.y.axis")
              .transition()
              .duration(duration)
              .attr("opacity", 1)
              .call(yaxis);
          svg.selectAll("g.y.axis.lines")
              .transition()
              .duration(duration)
              .attr("opacity", 1)
              .call(ylines);
          ylabel
              .transition()
              .duration(duration)
              .text(ytext)
              .attr("opacity", 1);
        }
        else {
          svg.selectAll("g.y.axis")
              .transition()
              .duration(duration)
              .attr("opacity", 0);
          ylabel
              .transition()
              .duration(duration)
              .attr("opacity", 0);
        }
        svg.selectAll("g.axis").lower();

        // Update the nodes...
        var node = svg.selectAll('g.node')
            .data(nodes, function(d) {return d.data.id; });

        // Enter any new modes at the parent's previous position.
        var nodeEnter = node.enter().append('g')
            .attr("transform", function(d) {
              return "translate(" + source.y0 + "," + source.x0 + ")";
          })
          .on('click', click);

        // Add Circle for the nodes
        nodeEnter.append('circle')
            .attr('r', 1e-6)
            .style("fill", function(d) { return d.data.color; })
            .on('mouseover', function(d) {
              selection = [];
              while (d.data.fake == "") {
                selection.push(d);
                d = d.parent;
              }
              update(root);
            })
            .on('mouseout', function(d) {
              selection = [];
              update(root);
            });

        nodeEnter.append("g")
            .attr("class", "txt-holder")
            .attr("opacity", 0)
            .append("foreignObject")
            .attr("class", "txt")
            .attr("width", 500)
            .attr("x", 10)
            .attr("height", 100);

        // UPDATE
        var nodeUpdate = nodeEnter.merge(node);

        // Transition to the proper position for the node
        nodeUpdate.transition()
          .duration(duration)
          .attr("class", function (d) { return "node" + d.data.fake + (selection.includes(d) ? " hovering" : ""); })
          .attr("transform", function(d) {
              return "translate(" + d.y + "," + d.x + ")";
          });

        // Update the node attributes and style
        nodeUpdate.select('circle').transition()
          .duration(duration)
          .attr('r', gmode == "tree" ? 10 : 5)
          .style("fill", function(d) { return d.data.color; })
          .attr('cursor', 'pointer');

        // Update the node attributes and style
        nodeUpdate.select('.txt')
          .attr('x', gmode == "tree" ? 10 : 5)
          .html(function(d) {
              if (d.data.fake !== "") return "";
              var x = (gmode == "scatter" ? /^(.*) \((.*)\)$/.exec(xtext)[1] + ": " + (d.data.scores[xmode] === undefined ? "No score" : d.data.scores[xmode] + " " + /^(.*) \((.*)\)$/.exec(xtext)[2])
                                           : "Generation: " + (d.depth + suffix(d.depth)));
              var y = /^(.*) \((.*)\)$/.exec(ytext)[1] + ": " + (d.data.scores[ymode] === undefined ? "No score" : d.data.scores[ymode] + " " + /^(.*) \((.*)\)$/.exec(ytext)[2]);
              return "<span><b>" + d.data.name + "</b><br />" + x + "<br />" + y + "</span>";
          });

        nodeUpdate.select(".txt-holder").transition()
          .duration(duration)
          .style('opacity', function (d) { return gmode == "tree" ? 1 : (selection.includes(d) ? 1 : 0); });

        // Remove any exiting nodes
        var nodeExit = node.exit().transition()
            .duration(duration)
            .attr("transform", function(d) {
                return "translate(" + source.y + "," + source.x + ")";
            })
            .remove();

        // On exit reduce the node circles size to 0
        nodeExit.select('circle')
          .attr('r', 1e-6);

        // On exit reduce the opacity of text labels
        nodeExit.select('.txt')
          .style('fill-opacity', 1e-6);

        // build the arrow.

        var marker = defs.selectAll("marker")
            .data(["end", "end-hovering"]);      // Different link/path types can be defined here

        var markerEnter = marker.enter().append("svg:marker")    // This section adds in the arrows
            .attr("id", String)
            .attr("viewBox", "0 -5 10 10")
            .attr("refX", -10)
            .attr("refY", 0)
            .attr("markerWidth", 5)
            .attr("markerHeight", 5)
            .attr("orient", "auto")
            .attr("class", function (d) { return "arrow-head" + (d == "end" ? "" : " hovering"); })
            .append("svg:path")
            .attr("d", "M10,-5L0,0L10,5");

        markerEnter.merge(marker).transition()
            .duration(duration)
            .attr("refX", gmode == "tree" ? -10 : -5);

        // Update the links...
        var link = svg.selectAll('path.link')
            .data(links, function(d) { return d.data.id; });

        // Enter any new links at the parent's previous position.
        var linkEnter = link.enter().insert('path', "g")
            .attr('d', function(d){
              var o = {x: source.x0, y: source.y0}
              return diagonal(o, o)
            })
            .attr("marker-start", "url(#end)"); // add the arrow to the link end

        // UPDATE
        var linkUpdate = linkEnter.merge(link);

        // Transition back to the parent element position
        linkUpdate
            .attr("marker-start", function (d) { return selection.includes(d) ? "url(#end-hovering)" : "url(#end)"; }) // add the arrow to the link end
            .transition()
            .duration(duration)
            .attr("class", function (d) { return "link" + d.parent.data.fake + (selection.includes(d) ? " hovering" : ""); })
            .attr('d', function(d){ return diagonal(d, d.parent) });

        linkUpdate.filter(function(d, i){ return selection.includes(d)}).raise();
        nodeUpdate.filter(function(d, i){ return selection.includes(d)}).raise();

        // Remove any exiting links
        var linkExit = link.exit().transition()
            .duration(duration)
            .attr('d', function(d) {
              var o = {x: source.x, y: source.y}
              return diagonal(o, o)
            })
            .remove();

        // Stash the old positions for transition.
        nodes.forEach(function(d) {
          d.x0 = d.x;
          d.y0 = d.y;
        });
      }

      // Toggle children on click.
      function click(d) {
        window.open(d.data.url);
      }

      function zoomed() {
        svg.attr("transform", d3.event.transform);
      }
    </script>
{% endblock %}

{% block extra_head %}
  <script>
    nodes = {
      fake: {
        children: [],
        fake: " fake",
        value: 0,
        id: 0
      }
    };
    {% for script, score in scripts %}
      nodes[{{ script.id }}] = {
          id: {{ script.id }},
          name: '{{ script.name }}',
          url: "{% url 'app_scripts_view' script.id %}",
          fake: "",
          scores:
            {% if score.scores %}
              {{score.scores|mapround|safe}}
            {% else %}
              {}
            {% endif %},
          parent_id: {% if script.parent %}{{ script.parent.id }}{% else %}null{% endif %},
          children: []
        };
    {% endfor %}
    {% for script, score in scripts %}
        nodes[{% if script.parent %}{{ script.parent.id }}{% else %}"fake"{% endif %}].children.push(nodes[{{ script.id }}]);
    {% endfor %}
    Object.keys(nodes).forEach(function (k) {
      if (nodes[k].children.length == 0) {
        nodes[k].children = null
      }
    })
    ymode = "{{ score_attrs.0 }}";
  </script>
{% endblock %}

{% block main %}
  <h1>Graphs</h1>
  <div class="tracks">
    Track:<br />
    {% for a_track in tracks %}
      <a class="btn btn-{% if a_track == track %}primary{% else %}default{% endif %}" href="{% url 'app_inheritance' a_track.id %}">{{ a_track.name }}</a>
    {% endfor %}
  </div>
  <div id="options">
    <div id="gmode" style="padding-top: 4px">
      Graph mode:<br />
      <div class="btn-group">
        <button class="btn" value="genline">Generational line</option>
        <button class="btn" value="scatter">Scatter</option>
        <button class="btn" value="tree">Tree</option>
      </div>
    </div>
    <div id="ymode" style="padding-bottom: 4px">
      Y-axis and color (darker means higher value, grey means no score submitted):<br />
      <div class="btn-group">
        {% for attr in score_attrs %}
          <button class="btn" value="{{ attr }}">{{ score_titles|getattribute:forloop.counter0 }}</button>
        {% endfor %}
      </div>
    </div>
    <div id="xmode" style="padding-bottom: 4px; max-height: 0; opacity: 0">
      X-axis:<br />
      <div class="btn-group">
        {% for attr in score_attrs %}
          <button class="btn" value="{{ attr }}">{{ score_titles|getattribute:forloop.counter0 }}</button>
        {% endfor %}
      </div>
    </div>
  </div>
  <div id="graph" style="width: 960px; height: 500px; border: 1px solid lightgray; overflow: hidden"></div>
{% endblock %}

